openapi: 3.0.0
info:
  version: 1.0.0
  title: Site of Refuge API
  description: An API that helps match refugees with resources like shelter, education and jobs
  termsOfService: https://siteofrefuge.com/tos
  contact:
    name: Developers
    url: https://siteofrefuge.com
    email: info@siteofrefuge.com
  license:
    name: Site of Refuge License
    url: https://siteofrefuge.com/license

servers: 
  - url: https://api.siteofrefuge.com/v1/
    description: Core API server
        
paths:
  /hosts:
    get:
      description: Get a summary list of hosts registered in the system
      operationId: GetHosts
      parameters: 
        - name: region
          in: query
          description: The region where the host is located. This is in ISO 3166-2 format.
          schema:
            $ref: '#/components/schemas/Region'

      responses:
        200:
          description: Successfully queried host information
          content: 
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HostSummary'
                  
    post:
      description: Registers a new host in the system
      operationId: AddHost
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref:  '#/components/schemas/Host'
      responses:
        201:
          description: Created
  
  /hosts/{id}:
    get:
      description: Get information about a specific host
      operationId: GetHost
      parameters:
        - name: id
          description: Host id in UUID/GUID format
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/Id'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Host'
        404:
          description: Not found response
          content:
            text/plain:
              schema:
                title: Host not found
                type: string
                example: Not found
                
    put:
      description: Updates a new host in the system
      operationId: UpdateHost
      parameters:
        - name: id
          description: Host id in UUID/GUID format
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/Id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref:  '#/components/schemas/Host'
      responses:
        204:
          description: Updated
        404:
          description: Not found response
          content:
            text/plain:
              schema:
                title: Host not found
                type: string
                example: Not found
          
    delete:
      description: Schedules a host to be deleted from the system (after 7 days archival)
      operationId: DeleteHost
      parameters:
        - name: id
          description: Host id in UUID/GUID format
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/Id'
      responses:
        202:
          description: Queued for deletion
        404:
          description: Not found response
          content:
            text/plain:
              schema:
                title: Host not found
                type: string
                example: Not found

  /refugees:
    get:
      description: Get a summary list of refugees registered in the system
      operationId: GetRefugees
      parameters: 
        - name: region
          in: query
          description: The region where the refugee is located. This is in ISO 3166-2 format.
          schema:
            $ref: '#/components/schemas/Region'

      responses:
        200:
          description: Successfully queried refugee information
          content: 
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RefugeeSummary'

    post:
      description: Registers a new refugee in the system
      operationId: AddRefugee
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref:  '#/components/schemas/Refugee'
      responses:
        201:
          description: Created
  
  /refugees/{id}:
    get:
      description: Get information about a specific refugee
      operationId: GetRefugee
      parameters:
        - name: id
          description: Refugee id in UUID/GUID format
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/Id'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refugee'
        404:
          description: Not found response
          content:
            text/plain:
              schema:
                title: Refugee not found
                type: string
                example: Not found
                
    put:
      description: Updates a refugee in the system
      operationId: UpdateRefugee
      parameters:
        - name: id
          description: Refugee id in UUID/GUID format
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/Id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref:  '#/components/schemas/Refugee'
      responses:
        204:
          description: Updated
        404:
          description: Not found response
          content:
            text/plain:
              schema:
                title: Refugee not found
                type: string
                example: Not found
          
    delete:
      description: Schedules a refugee to be deleted from the system (after 7 days archival)
      operationId: DeleteRefugee
      parameters:
        - name: id
          description: Refugee id in UUID/GUID format
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/Id'
      responses:
        202:
          description: Queued for deletion
        404:
          description: Not found response
          content:
            text/plain:
              schema:
                title: Refugee not found
                type: string
                example: Not found

  /search/{id}:
    get:
      description: Attempt to find hosts that match the needs of a refugee. This id has to match with the id in the access token.
      operationId: FindMatch
      parameters:
        - name: id
          description: Refugee id in UUID/GUID format
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/Id'
      responses:
        200:
          description: Successfully found potential matches
          content: 
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HostSummary'
        403:
          description: Access forbidden to search. Refugee Id does NOT match access token user id
          content:
            text/plain:
              schema:
                title: Forbidden
                type: string
                example: Forbidden
        404:
          description: Not found response
          content:
            text/plain:
              schema:
                title: Match not found
                type: string
                example: Not found

  /invite:
    get:
      description: Lists any current invitation requests for this user
      operationId: GetInvites
      responses:
        200:
          description: Successfully retrieved invitations for this user
          content: 
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Invite'
        403:
          description: Access forbidden to list invitations for this account
          content:
            text/plain:
              schema:
                title: Forbidden
                type: string
                example: Forbidden
        404:
          description: Not found response
          content:
            text/plain:
              schema:
                title: No invites found
                type: string
                example: Not found
                
    post:
      description: Invite a refugee to connect
      operationId: InviteRefugee
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref:  '#/components/schemas/Id'
      responses:
        204:
          description: Successfully sent an invitation
        403:
          description: Access forbidden. Only hosts can send invitations
          content:
            text/plain:
              schema:
                title: Forbidden
                type: string
                example: Forbidden
        404:
          description: Not found response
          content:
            text/plain:
              schema:
                title: Refugee not found
                type: string
                example: Not found

  /invite/{id}:
    get:
      description: Show an invitation
      operationId: GetInvite
      parameters:
        - name: id
          description: Invite id in UUID/GUID format
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/Id'
      responses:
        200:
          description: Successfully found potential matches
          content: 
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HostSummary'
        403:
          description: Access forbidden to search. Refugee Id does NOT match access token user id
          content:
            text/plain:
              schema:
                title: Forbidden
                type: string
                example: Forbidden
        404:
          description: Not found response
          content:
            text/plain:
              schema:
                title: Match not found
                type: string
                example: Not found
    put:
      description: Accept an invitation to connect
      operationId: AcceptInvitation
      parameters:
        - name: id
          description: Invite id in UUID/GUID format
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/Id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref:  '#/components/schemas/Id'
      responses:
        204:
          description: Successfully accepted an invitation
        403:
          description: Access forbidden. Only refugees can accept invitations
          content:
            text/plain:
              schema:
                title: Forbidden
                type: string
                example: Forbidden
        404:
          description: Not found response
          content:
            text/plain:
              schema:
                title: Invitation not found
                type: string
                example: Not found
    delete:
      description: Withdraw invitation request
      operationId: DeleteInvite
      parameters:
        - name: id
          description: Invite id in UUID/GUID format
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/Id'
      responses:
        200:
          description: Invite deleted
        404:
          description: Not found response
          content:
            text/plain:
              schema:
                title: Invitation not found
                type: string
                example: Not found

components:
  schemas:
    Availability:
      type: object
      properties:
        date_available:
          type: string
          format: date
          description: Date when shelter will be available
        active:
          type: boolean
          description: Is this shelter currently available for matching with refugees?
        length_of_stay:
          type: string
          description: How long a refugee can stay
          enum: 
            - A few days, up to a week
            - Up to a month
            - At least 2 to 4 months
            - Over 4 months

    Contact:
      type: object
      description: Contact information of a person
      properties:
        name:
          type: string
          description: The person's full name
          minLength: 3
          maxLength: 256
        methods:
          description: The way(s) in which this person can be contacted
          type: array
          items:
            $ref: '#/components/schemas/ContactMode'
      required:
        - name
        - methods

    ContactMode:
      type: object
      description: The method in which this person can be contacted
      properties:
        method:
          type: string
          description: The actual way to contact this person
          enum: 
            - Phone
            - Email
            - SMS
        value:
          type: string
          description: The details on how to contact this person (actual phone number, email address etc)
        verified:
          type: boolean
          description: Has this contact method been verified?
          default: false
      required:
        - method
        - value

    Host:
      type: object
      description: Detailed information about a host
      properties:
        summary:        
          $ref: '#/components/schemas/HostSummary'
        contact:
          $ref: '#/components/schemas/Contact'
      required:
        - summary
        - contact

    HostSummary:
      type: object
      description: Summary of a Host
      properties:
        id: 
          $ref: '#/components/schemas/Id'
        region:
          type: string
          description: The region where the host is located. This is in ISO 3166-2 format.
          minLength: 4
          maxLength: 6
          pattern: '^[A-Z]{2}-[A-Z0-9]{1,3}$'
          example: PL-26
        allowed_people:
          type: integer
          format: int32
          example: 2
        restrictions:
          description: Any restrictions the host has for this shelter
          type: array
          items:
            $ref: '#/components/schemas/Restrictions'
        message:
          type: string
          description: A freeform text field that allows for a personalized message
          maxLength: 1024
          example: We have a free bedroom in our house. We can come pick you up.
        shelter:
          type: string
          oneOf:
            - $ref: '#/components/schemas/Shelter'
        languages:
          type: array
          items:
            $ref: '#/components/schemas/SpokenLanguages'
        availability:
          $ref: '#/components/schemas/Availability'
      required:
        - id
        - region
        - allowed_people
        - shelter
        - availability
        
    Id:
      type: string
      description: Unique identifier in UUID/GUID format
      pattern: '^[0-9A-Fa-f]{8}(?:-[0-9A-Fa-f]{4}){3}-[0-9A-Fa-f]{12}$'
      example: '3F2504E0-4F89-41D3-9A0C-0305E82C3301'
 
    Invite:
      type: object
      description: An invitation to connect
      properties:
        id:
          $ref: '#/components/schemas/Id'
        refugee_id:        
          $ref: '#/components/schemas/Id'
        host_id:        
          $ref: '#/components/schemas/Id'
        date_requested:
          type: string
          format: date
          description: Date when inivitation was sent
        date_accepted:
          type: string
          format: date
          description: Date when inivitation was accepted
      required:
        - refugee_id
        - host_id
        
    Refugee:
      type: object
      description: Detailed information about a refugee and their family
      properties:
        summary:        
          $ref: '#/components/schemas/RefugeeSummary'
        contact:
          $ref: '#/components/schemas/Contact'
      required:
        - summary
        - contact
        
    RefugeeSummary:
      type: object
      description: A summary of a refugee
      properties:
        id: 
          $ref: '#/components/schemas/Id'
        region:
           $ref: '#/components/schemas/Region'
        people:
          type: integer
          format: int32
          example: 2
        message:
          type: string
          description: A freeform text field that allows for a personalized message
          maxLength: 1024
          example: I'm a single mom with an infant son. Please help.
        restrictions:
          description: Any restrictions that might impact placement
          type: array
          items:
            $ref: '#/components/schemas/Restrictions'
        languages:
          type: array
          items:
            $ref: '#/components/schemas/SpokenLanguages'
        possession_date:
          type: string
          format: date
          description: Date when shelter is needed by
      required:
        - id
        - region
        - people
        - possession_date    
        
    Region:
      type: string
      description: The region where the person is located. This is in ISO 3166-2 format.
      minLength: 4
      maxLength: 6
      pattern: '^[A-Z]{2}-[A-Z0-9]{1,3}$'
      example: PL-26
    
    Restrictions:
      type: string
      enum:  
        - Pets 
        - Kids
        - Adult men
        - Adult women
      
        
    Shelter:
      type: string
      description: The type of shelter being offered
      enum: 
        - House with several rooms
        - Independent apartment
        - Room in a house of an apartment where you live
        - A bed in a shared room
        - A space in a hotel/hostel

    SpokenLanguages:
      type: string
      description: The language(s) spoken by this person
      enum: 
        - English
        - Ukrainian
        - Polish
        - Russian
        - Slovak
        - Hungarian
        - Romanian
        - Other